#ignore all files by default
*
#ignore subdirectories by default
**

#except these files (the dotfiles I care about)
!.gitignore

#for directories you need to do: !dir/ and !dir/* AND !dir/**
!kitty/
!kitty/*
!kitty/**

!waybar/
!waybar/*
!waybar/**

!hypr/
!hypr/*
!hypr/**

!nvim/
!nvim/*
!nvim/**

!wal
!wal/*
!wal/**
