#ignore all files by default
*
#ignore subdirectories by default
**

#except these files (the dotfiles I care about)
!.gitignore

#for directories you need to do: !dir/ and !dir/*
!kitty/
!kitty/*

!waybar/
!waybar/*

!hypr/
!hypr/*

!nvim/
!nvim/*
!nvim/**
